@tailwind base;

@tailwind components;

@tailwind utilities;

.header__body {
    background-image: url('./utils//assets/bg.jpeg');
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    /* position: fixed; */
}

.bg-section {

    background-image: url('./utils/assets/Frame\ 50.png');
    background-size: cover;
    height:100%;
    min-height: 100%;
    padding:20px;
    background-repeat: no-repeat;
    width: 100vw;

}
.cycle{
    background: rgb(92,83,255);
    background: linear-gradient(156deg, rgba(92,83,255,1) 0%, rgba(36,37,157,1) 100%);
 border-radius:10px;
 height:100%;
 min-height: 100%;
 width:100%;
 margin:30px;
 padding:20px;
 box-shadow: 2px 2px 2px 2px rgba(29, 29, 29, 0.1);
}